<div class="share-box">
  <div class="sideHeading mb-4">
        <h1> Share This </h1>
    </div>
  <div class="share-art"> 
  
  <a class="fac-art" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"> <i class="fa fa-facebook"></i> <span class="resp_del"> Facebook</span> </a> 
  

  
  <a class="twi-art" href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"> <i class="fa fa-twitter"></i> <span class="resp_del2"> Twitter</span> </a>


<!-- 
   <a class="goo-art" href="//plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"> <i class="fa fa-google-plus"></i> <span class="resp_del3"> Google+</span> </a>  -->
  
  
  <a class="pin-art" href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"> <i class="fa fa-pinterest"></i> <span class="resp_del4"> Pinterest</span> </a>
  
  
 <a class="lin-art" href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank"> <i class="fa fa-linkedin-square"></i> <span class="resp_del5"> Linkedin</span> </a>

  </div>
</div>