{{ define "main" }}

   {{ partial "breadcrumbs.html" . }}   
   <div class="content pt-5 pb-5">
        <div class="container">
            {{ range $index, $element := .Site.Data.portfolio.thumb }}
                <div class="portfolioThumb dark-bg" style="background:{{ .colorCode }}">
                    <div class="row m-0 p-0">
                        <div class="col-sm-12 col-lg-7 m-0 p-0 d-flex justify-content-center {{ .imgorder }} ">
                            <div class="thumbsideImg d-flex align-items-center justify-content-center" style="background-image:url('{{ .bgImage | relURL }}')">
                                <img src="{{ .sideImage | relURL }}" class="img-fluid d-lg-block" alt=""/>    
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-5 m-0 p-0 {{ .textorder }}">
                            <div class="portfolioThumbText d-flex flex-wrap h-100 align-content-center" >
                                <img src="{{ .logo | relURL }}" class="img-fluid" alt=""/>
                                <h5 class="w-100 m-0 d-flex align-items-top"> {{ .topLine }}  </h5>                            
                                <p class="text-white">{{ .description }}</p> 
                                <a href="{{ .link  | relURL}}" class="theme-btn yellow-btn pr-4 pl-4 pt-2 pb-2 light-black-text mt-2"> {{ .btnText }} </a>
                            </div>
                        </div>      
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
   
    {{ range .Site.Data.footer.portfolio }}  
    <section class="bg-dark portfolioFooterBG footerBGHeight w-100 home"  style="background-image: url('{{ .image | relURL }}');">
        <div class="footer-overlay d-flex align-items-center justify-content-center">
            <div class="container">
                <h2 class="text-white text-center"> {{ .title }} </h2>
                <a href="{{ .link | relURL }} "> <span class="text-center arrowicon"> <i class="fa fa-angle-down"></i> </span> </a>
            </div>
        </div> 
    </section>
    {{ end }}
{{ end }}