// Color Variables
$body-color: #fff;

$black: #000;

$white: #fff;

$gray: #242529;

$yellow-color: #fedd28;

$yellow-hover-color: #f8d308;

$lightBlue-color: #5188c7;

$lightBlue-hover-color:#3172bd;

$lightBlack-color:  #333333;

$lightBlack-hover-color: #191919 ;

$lightWhite-color: #f9f9f9;

// Font Variables

$primary-font: 'Poppins', sans-serif;

$icon-font: 'FontAwesome';


