<section>
 <div class="bread-container container">
 {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
 {{ $.Scratch.Add "path" .Site.BaseURL }}
<a href="/" style="color: #fff;">Home</a>
   {{ range $index, $element := split $url "/" }}
     {{ $.Scratch.Add "path" $element }}
       {{ if ne $element "" }}
       <span style="color: #fff;">&gt;</span> <a href='{{ $.Scratch.Get "path" }}' style="text-transform: capitalize; color: #fff;">{{ . }}</a>
       {{ $.Scratch.Add "path" "/" }}
       {{ end }}
   {{ end }}
 
 </div>
 </section>