<section class="sec-padding blueBackgroundImg">
    <div class="container">
        <div class="main-title">
            <h1 class="text-left text-white">FAQ’s</h1>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div id="accordion" class="faqBlock" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="heading1">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    How we Triple your monthly Revenue?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion">
                            <div class="card-body">
                                We align ourselves in the Vision of the project (and when the client's haven't articulated his vision - we create a vision ourselves) and then we take action to fulfill that vision. 
                                We can steps to ensure that the end users of the app are satisfied and happy. This ensures that the monthly revenue of the client gets increased. <a href="how-we-triple-your-monthly-revenue">See more </a>      
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading2">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    What out of box steps we take?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion">
                            <div class="card-body">
                                We take many steps. Here is one example -
                                For one of our client's app which have 20K+ users every day on the app - there were 3-5 issues reported on daily basis. Some of them were traceable and some of them were not. We used to ask for the Operating System, Browser, Device and other details from the client and then resolve the issue. At times, client there were no response from the client.                               
                                We started recording the last 5 logins (the browser, operating system, device etc) and when the user reports any issue - if the issue is device/browser specific - we can take their details easily and we now solve the issue quickly which leads to great client satisfaction.                                 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading3">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Is it guaranteed that our monthly revenue will be triple?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion">
                            <div class="card-body">
                                We work as your partner and we are committed that your monthly revenue become triple. We need your commitment as well. And when you and we - both will together work to achieve this objective - the possibilities are very high that we'll achieve it. However, there is no guarantee.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading4">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    How much time it will take to triple the monthly revenue?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body">
                                If we go with past data - for one of our client - it took 2 years to triple the monthly revenue. For another client - it took 15 months time - to quadruple their monthly leads (we don't have the data of their actual revenue).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="homewantTodiscuss d-flex flex-wrap align-content-center justify-content-center">
                    <div class="d-flex flex-wrap justify-content-center homewantTodiscuss-text">
                        <h2 class="light-black-text"> 
                            <span class="blue-text"> <strong> Want to discuss </strong> how we can </span> triple your monthly revenue
                        </h2>
                        <a href="https://calendly.com/deligence/30min/" target="_blank" class="theme-btn yellow-btn light-black-text text-center d-flex justify-content-center m-0 w-100 mt-4"> Book An Appointment </a>
                        <span class="orText"> or </span>
                        <a href="contact-us" class="theme-btn blue-btn text-white text-center d-flex justify-content-center m-0 w-100 mt-4"> Contact Us </a>
                     </div>
                    <div class="homewantTodiscuss-social yellow-bg">
                        <ul>
                            <li> <a href="https://www.facebook.com/deligencetechnologies" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
                            <li> <a href="https://www.linkedin.com/company/deligencetechnologies" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>
                            <li> <a href="https://twitter.com/deligence1" target="_blank"> <i class="fa fa-twitter"></i> </a> </li>
                            <li> <a href="https://www.instagram.com/deligencetechnologies/" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
                            <li> <a href="https://github.com/DeligenceTechnologies/" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                            <li> <a href="skype:sanjay.deligence" target="_blank"> <i class="fa fa-skype"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>