<div class="industryCoverage pt-5 pb-5">
    <div class="container">
        <div class="section-heading pb-4">
            <h2> Industry Coverage </h2>
            <p> Have a glimpse to the range of the brilliant Application development projects delivered by us.</p>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            {{ range .Site.Data.industrycoverage.item }}        
                <div class="industryItem">
                    <a href="{{ .link | relURL }} " class="d-inline-block w-100"> <img src="{{ .image | relURL }}" alt="{{.alternative }}" class="img-fluid"/>   <p>{{ .title  }}</p> </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>