{{ define "main" }}
    {{ partial "breadcrumbs.html" . }}
    <div class="content pt-5 pb-5">
        <div class="container">
            <div class="row">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                {{ range $paginator.Pages }}
                <div class="col-sm-4">
                    <a href="{{ .Permalink }}" class="singleBlogWrap mb-5">
                        <div class="blogitem-image">
                           {{ if .Params.banner }}
                           <img src="{{ .Params.banner | relURL }}" class="img-fluid" alt=""/>
                           {{ else }}
                           <img src="{{ .Site.BaseURL}} img/placeholder.png" class="img-fluid" alt=""/>
                           {{ end }} 
                        </div>
                        <div class="blogitem-Info">
                            <div class="row m-0 p-0">
                               <div class="col-2 m-0 p-0">
                                   <div class="blogitem-date text-white">
                                       <p> {{ .Date.Format .Site.Params.blog_date }} <span> {{ .Date.Format .Site.Params.blog_month }} </span> </p> 
                                   </div>
                                </div>
                                <div class="col-10 m-0 p-0 d-flex align-items-center">
                                   <div class="blogitem-title"> 
                                       <h5> {{ .Params.subTitle }} </h5>
                                       <!-- <p> {{ .Summary }} </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
            <ul class="blogpager pager mb-5">
                {{ if .Paginator.HasPrev }}
                 <li class="previous"><a href="{{ .Paginator.Prev.URL }}">&larr;</a></li>
                {{ else }}
                 <li class="previous disabled"><a href="#">&larr; </a></li>
                {{ end }}
                {{ if .Paginator.HasNext }}
                 <li class="next "><a href="{{ .Paginator.Next.URL }}">  &rarr;</a></li>
                {{ else }}
                 <li class="next disabled"><a href="#">&rarr;</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ range .Site.Data.footer.blog }}  
    <section class="bg-dark portfolioFooterBG footerBGHeight w-100" style="background-image: url('{{ .image | relURL }}');">
        <div class="footer-overlay d-flex align-items-center justify-content-center">
            <div class="container">
                <h2 class="text-white text-center"> {{ .title }} </h2>
                <a href="{{ .link | relURL }} "> <span class="text-center arrowicon"> <i class="fa fa-angle-down"></i> </span> </a>
            </div>
        </div> 
    </section>
  {{ end }}

{{ end }}