{{ define "main" }}

<div class="inner-header h-50 light-black-bg d-flex align-items-center justify-content-center" style="background-image: url('./img/int-banner.png'),url('./img/int-banner.png');">
  <div class="container">
    <h1 class="text-center text-white">404 </h1>
    <p class="text-center text-white">  {{ .Params.smallTextWhite }} <br/> 
      <span class="yellow-text"> {{ .Params.smallTextYellow}} </span>      
    </p>
  </div>
</div>

<section class="error-section pt-5 pb-5">
  <div class="container">
    <div class="content text-center">
      {{ with .Site.Params.error404 }}
        <h1>{{ .heading | markdownify }}</h1>
        <h3>{{ .text | markdownify }}</h3>
      {{ end }}
    </div> 
  </div>
</section>
{{ range .Site.Data.footer.home }}  
<section class="bg-dark portfolioFooterBG footerBGHeight w-100 home"  style="background-image: url('{{ .image | relURL }}');">
    <div class="footer-overlay d-flex align-items-center justify-content-center">
        <div class="container">
            <h2 class="text-white text-center"> {{ .title }} </h2>
            <a href="{{ .link | relURL }} "> <span class="text-center arrowicon"> <i class="fa fa-angle-down"></i> </span> </a>
        </div>
    </div> 
</section>

{{ end }}

{{ end }}